*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f4f5;
    font-family: sans-serif;
    outline: none;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.calculator{
    background-color: #0a0a0a;                                   
    padding: 15px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(4,68px);
    border: 4px solid gray;
}

input{
    grid-column: span 4;
    height: 150px;
    width: 260px;
    background: #000;
    border: none;
    color: rgb(249, 242, 242);
    font-size: 40px;
    text-align: end;
    margin: auto;
    margin-top: 30px;
    margin-bottom: -30px;
    padding: 10px;
}
button{
    height: 50px;
    width: 50px;
    background-color: #3c3b3b;
    color: white;
    border: none;
    border-radius: 50%;    
    margin: 8px;  
    font-size: 16px;     
}

.equal{
    position: relative;
    left: 70px;
}

.dot{
    position: relative;
    left: 70px;
}

.zero{
    width: 130px;
    border-radius: 100px;
}